<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <title>Consultas</title>
</head>

<body>
    <header
        class="toast-header mb-5 p-4 bg-primary text-center d-flex align-items-center justify-content-center text-bg-primary">
        <h1>Agendar consulta</h1>
    </header>
    <main class="text-center d-flex align-items-center justify-content-center flex-column">
        <form action="/ap/add" method="POST" class="bg-primary p-2 rounded w-50 mt-3">
            <label for="id" class="badge bg-primary m-2">Selecione o cliente: </label>
            <select name="id" id="id" class="d-block mx-auto">
                <option value="None" class="text-center" selected disabled>Selecione o cliente</option>
                {% for cliente in users %}
                <option value="{{ cliente.id }}">{{ cliente.nome }} : {{ cliente.cpf }}</option>
                {% endfor %}
            </select>

            <label for="local" class="badge bg-primary m-2">Local</label>
            <select name="local" id="local" class="d-block mx-auto">
                <option value="None" class="text-center" selected disabled>Selecione o local</option>
                {% for place in places %}
                <option value="{{ place }}" class="text-center">{{ place }}</option>
                {% endfor %}
            </select>
            <label for="doutores" class="badge bg-primary m-2">Doutor(a)</label>
            <select name="doutores" id="doctores" class="d-block mx-auto">
                <option value="None" class="text-center" selected disabled>Selecione o doutor(a)</option>
                {% for doc in doctors %}
                <option value="{{ doc }}" class="text-center">{{ doc }}</option>
                {% endfor %}
            </select>
            <div class="d-flex align-items-center justify-content-center flex-column">
                <label for="data" class="badge bg-primary m-2">Data</label>
                <input type="date" name="data" id="data" placeholder="Data" class="form-control" style="width: 250px;">
                <label for="hora" class="badge bg-primary m-2">Hora</label>
                <input type="time" name="hora" id="hora" class="form-control" style="width: 250px;">
            </div>
            <div class="d-block my-4">
                <a href="/" class="btn btn-danger active" role="button" aria-pressed="true">Voltar</a>
                <input class="btn btn-success active" type="submit" value="Agendar">
            </div>
        </form>
    </main>
</body>

</html>