<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <title>Consultas de {{ dia }}/{{ mes_number }}/{{ ano }}</title>
</head>
<body>
    <header class="toast-header mb-5 p-4 bg-primary text-center d-flex align-items-center justify-content-center text-bg-primary">
        <h1>Consultas de {{dia}} do {{ mes_letters }} de {{ ano }}</h1>
    </header>
    <main class="container">
        <table class="table table-hover table-striped">
            <thead>
                <th>Consulta Nº</th>
                <th>Local</th>
                <th>Hora</th>
                <th>Doutor(a)</th>
                <th>Cliente</th>
                <th>CPF</th>
                <th>Telefone</th>
            </thead>
            <tbody>
                {% for consulta in data %}
                <tr>
                    <td>{{ consulta.id }}</td>
                    <td>{{ consulta.local }}</td>
                    <td>{{ consulta.hora }}</td>
                    <td>{{ consulta.doctor }}</td>
                    <td>{{ consulta.client.nome }}</td>
                    <td>{{ consulta.client.cpf }}</td>
                    <td>{{ consulta.client.fone }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="container">
            <a href="/" class="btn btn-primary active" role="button" aria-pressed="true">Voltar</a>
        </div>
    </main>
</body>
</html>